<?xml version="1.0" encoding="UTF-8"?>
<servlet-mapping>

<servlet-name>Login</servlet-name>

<url-pattern>/Login.java</url-pattern>


<servlet-name>Hotelinfo</servlet-name>

<url-pattern>/Hotelinfo.java</url-pattern>

<servlet-name>Bookinginfo</servlet-name>

<url-pattern>/Bookinginfo.java</url-pattern>

<servlet-name>Userprofile</servlet-name>

<url-pattern>/Userprofile.java</url-pattern>

</servlet-mapping>

